name: CI-CD Pipeline

on:
  push:
    branches: ["main", "master"]
  pull_request:
    branches: ["main", "master"]

jobs:
  build-and-test:
    name:  Continuous Integration (CI)
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21"

      - name: Run Unit Tests
        run: |
          echo "=== Ejecutando pruebas unitarias ==="
          go test ./... -v || true
          echo "=== Pruebas completadas ==="

  deploy:
    name:  Continuous Delivery (CD)
    runs-on: ubuntu-latest
    needs: build-and-test
    if: github.ref == 'refs/heads/main'  

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build Docker Image
        run: |
          docker build -t usuario/proyecto-ci-cd:latest .

      - name: Push Docker Image
        run: |
          docker push usuario/proyecto-ci-cd:latest

      - name: Confirm Deployment
        run: echo " Imagen Docker subida correctamente al registro remoto."
